<div class="flex flex-col gap-4 p-4 bg-white rounded-sm shadow-md">
  <div class="flex justify-between">
    <h2 class="text-2xl font-semibold">{{ title }}</h2>
    <button
      (click)="addItem()"
      class="flex items-center justify-center w-8 h-8 rounded-sm bg-neutral-700"
    >
      <img src="/icons/add.svg" width="18" height="18" alt="Add" />
    </button>
  </div>
  <div *ngFor="let item of items; let i = index">
    <app-card
      [id]="item.id"
      [title]="item.title"
      [content]="item.description"
      (delete)="removeItem(item.id)"
      (save)="saveItem($event)"
    ></app-card>
  </div>
</div>
