<div class="grid gap-1 rounded-sm bg-gray-50 p-4">
  <div class="mb-1 flex h-7 justify-between">
    <button
      (click)="toggleLockState()"
      class="flex h-full select-none items-center justify-center gap-1 rounded-sm bg-gray-200 p-2 transition-all duration-150 hover:bg-gray-300"
    >
      <img
        src="/icons/{{ lock_state ? 'unlock' : 'lock' }}.svg"
        alt="lock icon"
        width="16"
        height="16"
      />
      {{ lock_state ? "Unlock" : "" }}
    </button>
    <button
      class="flex h-full select-none items-center justify-center gap-1 rounded-sm bg-gray-200 p-2 transition-all duration-150 hover:bg-gray-300"
      (click)="deleteCard()"
    >
      <img src="/icons/delete.svg" alt="delete icon" width="16" height="16" />
    </button>
  </div>

  <h3
    id="title-{{ id }}"
    class="min-h-7 text-balance border-b-2 border-neutral-200 text-xl font-semibold"
    [attr.contenteditable]="!lock_state"
    (blur)="saveCard()"
  >
    {{ title }}
  </h3>
  <p
    id="description-{{ id }}"
    class="min-h-7 text-pretty"
    [attr.contenteditable]="!lock_state"
    (blur)="saveCard()"
  >
    {{ description }}
  </p>

  <span class="text-sm font-light text-neutral-500">
    Created at: {{ created_at }}
  </span>
</div>
