<div class="grid gap-2 p-4 bg-gray-50 rounded-xl">
  <div class="flex justify-between">
    <button
      (click)="changeLockState()"
      class="flex items-center justify-center gap-1 px-2 bg-gray-200 rounded-sm select-none"
    >
      <img
        src="/icons/{{ lock_state ? 'unlock' : 'lock' }}.svg"
        alt="lock icon"
        width="16"
        height="16"
      />
      {{ lock_state ? "Unlock" : "Lock" }}
    </button>
    <button
      class="flex items-center justify-center gap-1 px-2 bg-gray-200 rounded-sm select-none"
      (click)="deleteItem()"
    >
      <img src="/icons/delete.svg" alt="delete icon" width="16" height="16" />
      Delete
    </button>
  </div>
  <div>
    <h3
      id="title-{{ id }}"
      class="text-xl font-semibold text-balance min-h-7"
      [attr.contenteditable]="!lock_state"
      (blur)="saveItem()"
    >
      {{ title }}
    </h3>
    <hr class="border-b border-gray-300" />
    <p
      id="description-{{ id }}"
      class="text-pretty min-h-7"
      [attr.contenteditable]="!lock_state"
      (blur)="saveItem()"
    >
      {{ description }}
    </p>
  </div>
</div>
