<section
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  class="grid gap-4 rounded-sm bg-white/25 p-4 shadow-md"
>
  <header class="flex justify-between">
    <h2 class="select-none text-2xl font-semibold text-blue-50">
      {{ column_name }}
    </h2>
    <button
      (click)="addCard()"
      class="group flex select-none items-center justify-center gap-1 rounded-sm bg-blue-100/25 px-2 font-semibold text-blue-50"
    >
      <img ngSrc="/icons/add.svg" width="16" height="16" alt="Add card" />
      <span class="hidden group-hover:flex group-hover:delay-150">
        Add card
      </span>
    </button>
  </header>
  @for (card of cards; track $index) {
    <app-card
      [id]="card.id"
      [title]="card.title"
      [column_name]="column_name"
      [description]="card.description"
      [priority]="card.priority"
      [is_editable]="card.is_editable"
      (save)="updateCard($event)"
      (delete)="removeCard(card.id)"
    />
  }
  <button
    (click)="addCard()"
    class="flex items-center justify-center rounded-sm bg-neutral-50 p-2 transition-all duration-150 hover:bg-neutral-100"
  >
    <img
      ngSrc="icons/row-insert-bottom.svg"
      alt="Add card"
      width="18"
      height="18"
    />
  </button>
</section>
