<main
  class="min-h-screen bg-linear-to-br from-blue-500 via-blue-600 to-blue-500 p-4"
>
  <div class="mb-5 flex select-none items-center gap-4">
    <img ngSrc="image\kanban.png" alt="Kanban icon" width="64" height="64" />
    <h1 class="rounded-xs text-3xl font-bold text-blue-50">
      Kanban | Improve your workflow
    </h1>
  </div>
  <section class="grid gap-4 md:grid-cols-3">
    <app-column column_name="Todo" />
    <app-column column_name="In progress" />
    <app-column column_name="Done" />
  </section>
</main>
