<main class="min-h-screen bg-gradient-to-b from-sky-500 to-blue-700 p-4">
  <div class="mb-5 flex select-none items-center gap-4">
    <img src="image\kanban.png" alt="Kanban icon" width="64" height="64" />
    <h1 class="rounded-sm text-3xl font-bold text-slate-100">
      Kanban | Improve your workflow
    </h1>
  </div>
  <section class="grid gap-4 md:grid-cols-3">
    <app-column column_name="Todo" />
    <app-column column_name="In progress" />
    <app-column column_name="Done" />
  </section>
</main>
